---
import Favorites, { AddModal } from '@components/Favorites';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Favoritos | CCLito'>
  <div class='container mx-auto max-w-5xl p-4 flex flex-col gap-6'>
    <AddModal client:visible />
    <Favorites client:only='react' />
  </div>
</Layout>
